In [10]:
# Dependencies
import requests
import json
from config import tmdb_key, omdb_api_key_0_yp, omdb_api_key_1_yp, omdb_api_key_2_mt, omdb_api_key_3_al, omdb_api_key_4_aj
from pprint import pprint
import pandas as pd
from pathlib import Path
import numpy as np

In [21]:
# Set the number of results per page and the total number of desired results
total_result_per_page = 20
total_wanted_results = 2800
# Calculate the total number of pages needed to retrieve the desired results
total_pages = int(total_wanted_results / total_result_per_page) #50
current_page = 1

# Function to fetch data from a specific page using the API
def fetch_page(page_number):
        # Construct the URL with the page number to fetch data from
    url = f"https://api.themoviedb.org/3/discover/movie?&include_video=false&language=en-US&sort_by=popularity.desc&page={page_number}&region=US&with_origin_country=US"
     # Set the required headers for the API request
    headers = {
        "accept": "application/json",
        "Authorization": tmdb_key
    }
    # Make a GET request to the API and retrieve the data in JSON format
    response = requests.get(url, headers=headers).json()
    # Return the results from the response
    return response["results"]

# Initialize an empty list to store all retrieved movies
all_movies = []
#Loop through the range of page numbers to fetch data from each page
for page_number in range(1, total_pages + 1):
    all_movies += fetch_page(page_number)

#Print the total number of movies retrieved
print(len(all_movies))    

#Please uncomment the following if you'd like to check the json outcome
# print(len(response["results"]))
# print(json.dumps(response, indent=4, sort_keys=True))

2800

In [22]:
#Here we created this code to split the all_movies variable call the omdb api 4 times since it has a limitation of 1000 calls per day.

factor = int(len(all_movies) / 4)
#splitted data 
all_movies_splited_0 = all_movies[0:factor] 
all_movies_splited_1 = all_movies[factor:factor * 2]
all_movies_splited_2 = all_movies[factor * 2: factor * 3]
all_movies_splited_3 = all_movies[factor * 3: factor * 4]

In [4]:
# # #collect titles for omdb fetch
# imdb_titles = []
# for imdb_id in all_movies:
#     imdb_titles.append(imdb_id['title'])
# print(len(all_movies))
# imdb_titles 
# # pprint(all_movies[0])

In [12]:
# Function to fetch details of a specific movie using the API, from this details we wanted the finantial information
def fetch_movie_details(movie_id):
    # Construct the URL with the movie ID to fetch details
    url = f"https://api.themoviedb.org/3/movie/{movie_id}"
    headers = {
        "accept": "application/json",
        "Authorization": tmdb_key
    }
    # Make a GET request to the API and retrieve the movie details in JSON format
    response = requests.get(url, headers=headers).json()
    # Return the movie details from the response
    return response

In [13]:
# Function to fetch omdb data 
def fetch_movie_omdb(movie_title, omdb_api_key):
    url = "http://www.omdbapi.com/?apikey=" + omdb_api_key + "&t="
    # Make a request to the OMDb API for each movie in the list.
    omdb_data = requests.get(url + movie_title).json()
    # Return the omdb data from the response
    return omdb_data

In [23]:
# elements = [all_movies_splited_0,all_movies_splited_1,all_movies_splited_2,all_movies_splited_3]
# api_key_elements = [omdb_api_key_1_yp, omdb_api_key_2_mt, omdb_api_key_3_al, omdb_api_key_4_aj]

elements = [
    {'api_key': omdb_api_key_1_yp, "movies": all_movies_splited_0},
    {'api_key': omdb_api_key_2_mt, "movies": all_movies_splited_1},
    {'api_key': omdb_api_key_3_al, "movies": all_movies_splited_2},
    {'api_key': omdb_api_key_4_aj, "movies": all_movies_splited_3}
]

for element in elements:
    # Iterate through each movie in the list of all movies
    for movie in element['movies']:
        # Fetch details of the current movie using its ID
        movie_details = fetch_movie_details(movie["id"])
        ## Fetch additional movie details(ratings) from the OMDb API using the movie title
        movie_omdb = fetch_movie_omdb(movie['title'], element['api_key'])
        # Update the movie dictionary with the fetched movie details
        movie.update(movie_details)
        movie.update(movie_omdb)

        #Create a key,value pair to determine if movie is financially successful based on revenue and budget comparison
        movie["financial_success"] = movie["revenue"] > movie["budget"]

In [40]:
# Extract rating data one layer up
imdb_rating_name = "Internet Movie Database"
rotten_tomatoes_rating_name = "Rotten Tomatoes"
metacritic_rating_name = 'Metacritic'

for element in elements:
    # Search for ratings
    for movie in element['movies']:
        # Check if "Ratings" key exists
        ratings = movie.get("Ratings", [])
        
        for rating in ratings:
            if imdb_rating_name == rating["Source"]:
                movie["imdb_rating"] = float(rating["Value"].split("/")[0])
            elif rotten_tomatoes_rating_name == rating["Source"]:
                movie["rotten_tomatoes_rating"] = float(rating["Value"].split("%")[0])
            elif metacritic_rating_name == rating["Source"]:
                movie["metacritic_rating"] = float(rating["Value"].split("/")[0])

In [120]:
#Pretty printing our first outcome 
pprint(all_movies_splited_2[1])

{'Actors': 'Nazneen Contractor, Wes Brown, Kathryn Drysdale',
 'Awards': 'N/A',
 'BoxOffice': 'N/A',
 'Country': 'United Kingdom, Canada, Belgium',
 'DVD': 'N/A',
 'Director': 'Terry Ingram',
 'Genre': 'Romance',
 'Language': 'English',
 'Metascore': 'N/A',
 'Plot': 'A daughter traveling with her widowed mother and a son traveling '
         'with his widower father meet on a cruise and decide that their '
         'musical parents would make the perfect couple try to engineer a '
         'romance only to falling in love themse...',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZjA0ZTI4YmQtMDJlYi00ZWRjLTgzOTQtNDZkNjg4NmQzNWE0XkEyXkFqcGc@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'N/A',
 'Ratings': [],
 'Released': '10 Sep 2024',
 'Response': 'True',
 'Runtime': '84 min',
 'Title': 'Love on the Danube LOVE SONG',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Agnes Bristow, Andrea Canning',
 'Year': '2024',
 'adult': False,
 'backdrop_path': '/iWKqVHUqWILnvIGN6n6w5zWaJhs.jpg',
 'belongs_to_collection': {'backdrop_path': None,
                           'id': 1329922,
                           'name': 'Love on the Danube Collection',
                           'poster_path': None},
 'budget': 0,
 'financial_success': False,
 'genre_ids': [10770, 10749],
 'genres': [{'id': 10770, 'name': 'TV Movie'},
            {'id': 10749, 'name': 'Romance'}],
 'homepage': '',
 'id': 1329918,
 'imdbID': 'tt33113349',
 'imdbRating': 'N/A',
 'imdbVotes': 'N/A',
 'imdb_id': 'tt33113349',
 'origin_country': ['US'],
 'original_language': 'en',
 'original_title': 'Love on the Danube: Love Song',
 'overview': 'A daughter traveling with her widowed mother and a son traveling '
             'with his widower father meet on a cruise and decide that their '
             'musical parents would make the perfect couple try to engineer a '
             'romance only to falling in love themselves.',
 'popularity': 37.901,
 'poster_path': '/cDwclk7CiT1ALNz0oF8zdObCBBx.jpg',
 'production_companies': [{'id': 11997,
                           'logo_path': '/jh15xr7Y10ZrgY1BwE3LGwcseu7.png',
                           'name': 'BNP Paribas Fortis',
                           'origin_country': 'BE'},
                          {'id': 83228,
                           'logo_path': '/fTcuLdixa608TxDMtjJQRQ85WyF.png',
                           'name': 'Leif Films',
                           'origin_country': 'CA'},
                          {'id': 215716,
                           'logo_path': None,
                           'name': 'Love Cubed',
                           'origin_country': ''},
                          {'id': 27395,
                           'logo_path': '/bTN6ZhXqL632KxNQWNfNq6rdkoW.png',
                           'name': 'Moviehouse Entertainment',
                           'origin_country': 'GB'},
                          {'id': 859,
                           'logo_path': '/wK6ssskf1QaGp057lSYb6fa3Nwc.png',
                           'name': 'Saga Film',
                           'origin_country': 'BE'}],
 'production_countries': [],
 'release_date': '2024-09-10',
 'revenue': 0,
 'runtime': 0,
 'spoken_languages': [{'english_name': 'English',
                       'iso_639_1': 'en',
                       'name': 'English'}],
 'status': 'Released',
 'tagline': 'Take the cruise less traveled',
 'title': 'Love on the Danube: Love Song',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

In [113]:
#Creating a dataframe
def create_dataframe(all_movies_data):
    df = pd.DataFrame(all_movies_data)
    print(df.info())
    return df

all_movies_df_0 = create_dataframe(all_movies_splited_0)
all_movies_df_1 = create_dataframe(all_movies_splited_1)
all_movies_df_2 = create_dataframe(all_movies_splited_2)
all_movies_df_3 = create_dataframe(all_movies_splited_3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   700 non-null    bool
 1   backdrop_path           698 non-null    object
 2   genre_ids               700 non-null    object
 3   id                      700 non-null    int64
 4   original_language       700 non-null    object
 5   original_title          700 non-null    object
 6   overview                700 non-null    object
 7   popularity              700 non-null    float64
 8   poster_path             700 non-null    object
 9   release_date            700 non-null    object
 10  title                   700 non-null    object
 11  video                   700 non-null    bool
 12  vote_average            700 non-null    float64
 13  vote_count              700 non-null    int64
 14  belongs_to_collection   382 non-null    object
 15  budget                  700 non-null    int64
 16  genres                  700 non-null    object
 17  homepage                700 non-null    object
 18  imdb_id                 699 non-null    object
 19  origin_country          700 non-null    object
 20  production_companies    700 non-null    object
 21  production_countries    700 non-null    object
 22  revenue                 700 non-null    int64
 23  runtime                 700 non-null    int64
 24  spoken_languages        700 non-null    object
 25  status                  700 non-null    object
 26  tagline                 700 non-null    object
 27  Title                   690 non-null    object
 28  Year                    690 non-null    object
 29  Rated                   690 non-null    object
 30  Released                690 non-null    object
 31  Runtime                 690 non-null    object
 32  Genre                   690 non-null    object
 33  Director                690 non-null    object
 34  Writer                  690 non-null    object
 35  Actors                  690 non-null    object
 36  Plot                    690 non-null    object
 37  Language                690 non-null    object
 38  Country                 690 non-null    object
 39  Awards                  690 non-null    object
 40  Poster                  690 non-null    object
 41  Ratings                 690 non-null    object
 42  Metascore               690 non-null    object
 43  imdbRating              690 non-null    object
 44  imdbVotes               690 non-null    object
 45  imdbID                  690 non-null    object
 46  Type                    690 non-null    object
 47  DVD                     685 non-null    object
 48  BoxOffice               685 non-null    object
 49  Production              685 non-null    object
 50  Website                 685 non-null    object
 51  Response                700 non-null    object
 52  financial_success       700 non-null    bool
 53  imdb_rating             669 non-null    float64
 54  rotten_tomatoes_rating  607 non-null    float64
 55  metacritic_rating       489 non-null    float64
 56  totalSeasons            5 non-null      object
 57  Error                   10 non-null     object
dtypes: bool(3), float64(5), int64(5), object(45)
memory usage: 303.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   700 non-null    bool
 1   backdrop_path           697 non-null    object
 2   genre_ids               700 non-null    object
 3   id                      700 non-null    int64
 4   original_language       700 non-null    object
 5   original_title          700 non-null    object
 6   overview                700 non-null    object
 7   popularity              700 non-null    float64
 8   poster_path             699 non-null    object
 9   release_date            700 non-null    object
 10  title                   700 non-null    object
 11  video                   700 non-null    bool
 12  vote_average            700 non-null    float64
 13  vote_count              700 non-null    int64
 14  belongs_to_collection   308 non-null    object
 15  budget                  700 non-null    int64
 16  genres                  700 non-null    object
 17  homepage                700 non-null    object
 18  imdb_id                 700 non-null    object
 19  origin_country          700 non-null    object
 20  production_companies    700 non-null    object
 21  production_countries    700 non-null    object
 22  revenue                 700 non-null    int64
 23  runtime                 700 non-null    int64
 24  spoken_languages        700 non-null    object
 25  status                  700 non-null    object
 26  tagline                 700 non-null    object
 27  Response                700 non-null    object
 28  Error                   333 non-null    object
 29  financial_success       700 non-null    bool
 30  Title                   367 non-null    object
 31  Year                    367 non-null    object
 32  Rated                   367 non-null    object
 33  Released                367 non-null    object
 34  Runtime                 367 non-null    object
 35  Genre                   367 non-null    object
 36  Director                367 non-null    object
 37  Writer                  367 non-null    object
 38  Actors                  367 non-null    object
 39  Plot                    367 non-null    object
 40  Language                367 non-null    object
 41  Country                 367 non-null    object
 42  Awards                  367 non-null    object
 43  Poster                  367 non-null    object
 44  Ratings                 367 non-null    object
 45  Metascore               367 non-null    object
 46  imdbRating              367 non-null    object
 47  imdbVotes               367 non-null    object
 48  imdbID                  367 non-null    object
 49  Type                    367 non-null    object
 50  DVD                     365 non-null    object
 51  BoxOffice               365 non-null    object
 52  Production              365 non-null    object
 53  Website                 365 non-null    object
 54  imdb_rating             359 non-null    float64
 55  rotten_tomatoes_rating  332 non-null    float64
 56  metacritic_rating       308 non-null    float64
 57  totalSeasons            2 non-null      object
dtypes: bool(3), float64(5), int64(5), object(45)
memory usage: 303.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   700 non-null    bool
 1   backdrop_path           696 non-null    object
 2   genre_ids               700 non-null    object
 3   id                      700 non-null    int64
 4   original_language       700 non-null    object
 5   original_title          700 non-null    object
 6   overview                700 non-null    object
 7   popularity              700 non-null    float64
 8   poster_path             699 non-null    object
 9   release_date            700 non-null    object
 10  title                   700 non-null    object
 11  video                   700 non-null    bool
 12  vote_average            700 non-null    float64
 13  vote_count              700 non-null    int64
 14  belongs_to_collection   249 non-null    object
 15  budget                  700 non-null    int64
 16  genres                  700 non-null    object
 17  homepage                700 non-null    object
 18  imdb_id                 699 non-null    object
 19  origin_country          700 non-null    object
 20  production_companies    700 non-null    object
 21  production_countries    700 non-null    object
 22  revenue                 700 non-null    int64
 23  runtime                 700 non-null    int64
 24  spoken_languages        700 non-null    object
 25  status                  700 non-null    object
 26  tagline                 700 non-null    object
 27  Title                   244 non-null    object
 28  Year                    244 non-null    object
 29  Rated                   244 non-null    object
 30  Released                244 non-null    object
 31  Runtime                 244 non-null    object
 32  Genre                   244 non-null    object
 33  Director                244 non-null    object
 34  Writer                  244 non-null    object
 35  Actors                  244 non-null    object
 36  Plot                    244 non-null    object
 37  Language                244 non-null    object
 38  Country                 244 non-null    object
 39  Awards                  244 non-null    object
 40  Poster                  244 non-null    object
 41  Ratings                 244 non-null    object
 42  Metascore               244 non-null    object
 43  imdbRating              244 non-null    object
 44  imdbVotes               244 non-null    object
 45  imdbID                  244 non-null    object
 46  Type                    244 non-null    object
 47  DVD                     242 non-null    object
 48  BoxOffice               242 non-null    object
 49  Production              242 non-null    object
 50  Website                 242 non-null    object
 51  Response                700 non-null    object
 52  financial_success       700 non-null    bool
 53  imdb_rating             235 non-null    float64
 54  rotten_tomatoes_rating  206 non-null    float64
 55  metacritic_rating       194 non-null    float64
 56  Error                   456 non-null    object
 57  totalSeasons            2 non-null      object
dtypes: bool(3), float64(5), int64(5), object(45)
memory usage: 303.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   700 non-null    bool
 1   backdrop_path           694 non-null    object
 2   genre_ids               700 non-null    object
 3   id                      700 non-null    int64
 4   original_language       700 non-null    object
 5   original_title          700 non-null    object
 6   overview                700 non-null    object
 7   popularity              700 non-null    float64
 8   poster_path             697 non-null    object
 9   release_date            700 non-null    object
 10  title                   700 non-null    object
 11  video                   700 non-null    bool
 12  vote_average            700 non-null    float64
 13  vote_count              700 non-null    int64
 14  belongs_to_collection   202 non-null    object
 15  budget                  700 non-null    int64
 16  genres                  700 non-null    object
 17  homepage                700 non-null    object
 18  imdb_id                 698 non-null    object
 19  origin_country          700 non-null    object
 20  production_companies    700 non-null    object
 21  production_countries    700 non-null    object
 22  revenue                 700 non-null    int64
 23  runtime                 700 non-null    int64
 24  spoken_languages        700 non-null    object
 25  status                  700 non-null    object
 26  tagline                 700 non-null    object
 27  Title                   684 non-null    object
 28  Year                    684 non-null    object
 29  Rated                   684 non-null    object
 30  Released                684 non-null    object
 31  Runtime                 684 non-null    object
 32  Genre                   684 non-null    object
 33  Director                684 non-null    object
 34  Writer                  684 non-null    object
 35  Actors                  684 non-null    object
 36  Plot                    684 non-null    object
 37  Language                684 non-null    object
 38  Country                 684 non-null    object
 39  Awards                  684 non-null    object
 40  Poster                  684 non-null    object
 41  Ratings                 684 non-null    object
 42  Metascore               684 non-null    object
 43  imdbRating              684 non-null    object
 44  imdbVotes               684 non-null    object
 45  imdbID                  684 non-null    object
 46  Type                    684 non-null    object
 47  DVD                     677 non-null    object
 48  BoxOffice               677 non-null    object
 49  Production              677 non-null    object
 50  Website                 677 non-null    object
 51  Response                700 non-null    object
 52  financial_success       700 non-null    bool
 53  imdb_rating             667 non-null    float64
 54  rotten_tomatoes_rating  584 non-null    float64
 55  metacritic_rating       515 non-null    float64
 56  totalSeasons            7 non-null      object
 57  Error                   16 non-null     object
dtypes: bool(3), float64(5), int64(5), object(45)
memory usage: 303.0+ KB
None

In [114]:
#Displaying all columns 
print(all_movies_df_0.columns)

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count',
       'belongs_to_collection', 'budget', 'genres', 'homepage', 'imdb_id',
       'origin_country', 'production_companies', 'production_countries',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'Title',
       'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer',
       'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings',
       'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD',
       'BoxOffice', 'Production', 'Website', 'Response', 'financial_success',
       'imdb_rating', 'rotten_tomatoes_rating', 'metacritic_rating',
       'totalSeasons', 'Error'],
      dtype='object')

In [121]:
#creating a function to selec specific columns from the dataframe
# Selecting specific columns from the DataFrame
def select_specific_columns(dataframe):
    dataframe = dataframe[["imdb_id", "title","release_date", "Runtime", "Genre","overview","Director", "Actors", "Rated", "imdbRating","imdbVotes", "popularity", "imdb_rating","rotten_tomatoes_rating", "metacritic_rating", "budget", "revenue", "financial_success"]]
    # Drop rows with any missing values
    dataframe.dropna(inplace=True)
    # Display the length of the DataFrame after dropping rows with missing values
    print(len(dataframe))  
    return dataframe

In [122]:
#Putting previous function into action
dataframes = [all_movies_df_0,all_movies_df_1,all_movies_df_2,all_movies_df_3]

for dataframe in dataframes:
    dataframe = select_specific_columns(dataframe)
    display(dataframe.head())

478

/var/folders/fv/ltttqpzd0bn28sqs0_gjbh300000gn/T/ipykernel_80049/570194682.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

,imdb_id,title,release_date,Runtime,Genre,overview,Director,Actors,Rated,imdbRating,imdbVotes,popularity,imdb_rating,rotten_tomatoes_rating,metacritic_rating,budget,revenue,financial_success
0,tt6263850,Deadpool & Wolverine,2024-07-24,108 min,"Action, Comedy",A listless Wade Wilson toils away in civilian ...,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller",R,8.0,"1,159,415",2617.082,8.0,85.0,65.0,200000000,1287237740,True
7,tt0094721,Beetlejuice,1988-03-30,92 min,"Comedy, Fantasy",A newly dead New England couple seeks help fro...,Tim Burton,"Alec Baldwin, Geena Davis, Michael Keaton",PG,7.5,"348,874",1048.715,7.5,86.0,70.0,15000000,74849333,True
24,tt27682129,Prey,2024-03-15,100 min,"Action, Adventure, Horror",A young couple is compelled to leave their Chr...,Dan Trachtenberg,"Amber Midthunder, Dakota Beavers, Dane DiLiegro",R,7.1,"233,550",488.732,7.1,94.0,71.0,0,0,False
30,tt0295701,xXx,2002-08-09,124 min,"Action, Adventure, Thriller",Xander Cage is your standard adrenaline junkie...,Rob Cohen,"Vin Diesel, Asia Argento, Marton Csokas",PG-13,5.8,"187,525",369.083,5.8,48.0,48.0,70000000,277448382,True
37,tt4154756,Avengers: Infinity War,2018-04-25,149 min,"Action, Adventure, Sci-Fi",As the Avengers and their allies have continue...,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",PG-13,8.4,"1,226,533",270.163,8.4,85.0,68.0,300000000,2052415039,True

302

/var/folders/fv/ltttqpzd0bn28sqs0_gjbh300000gn/T/ipykernel_80049/570194682.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

,imdb_id,title,release_date,Runtime,Genre,overview,Director,Actors,Rated,imdbRating,imdbVotes,popularity,imdb_rating,rotten_tomatoes_rating,metacritic_rating,budget,revenue,financial_success
13,tt2660888,Star Trek Beyond,2016-07-07,122 min,"Action, Adventure, Sci-Fi",The USS Enterprise crew explores the furthest ...,Justin Lin,"Chris Pine, Zachary Quinto, Karl Urban",PG-13,7.0,"260,371",53.585,7.0,86.0,68.0,185000000,343471816,True
20,tt0087332,Ghostbusters,1984-06-08,105 min,"Action, Comedy, Fantasy",After losing their academic posts at a prestig...,Ivan Reitman,"Bill Murray, Dan Aykroyd, Sigourney Weaver",PG,7.8,"457,679",53.422,7.8,95.0,71.0,30000000,296578797,True
21,tt13238346,Past Lives,2023-06-02,105 min,"Drama, Romance","Nora and Hae Sung, two childhood friends, are ...",Celine Song,"Greta Lee, Teo Yoo, John Magaro",PG-13,7.8,"128,725",53.395,7.8,95.0,94.0,12000000,28126646,True
31,tt0059742,The Sound of Music,1965-03-29,172 min,"Biography, Drama, Family","In the years before the Second World War, a to...",Robert Wise,"Julie Andrews, Christopher Plummer, Eleanor Pa...",G,8.1,"264,614",53.177,8.1,83.0,63.0,8200000,286214286,True
39,tt0109686,Dumb and Dumber,1994-12-16,107 min,Comedy,Lloyd and Harry are two men whose stupidity is...,"Peter Farrelly, Bobby Farrelly","Jim Carrey, Jeff Daniels, Lauren Holly",PG-13,7.3,"417,018",52.958,7.3,68.0,41.0,16000000,247275374,True

188

/var/folders/fv/ltttqpzd0bn28sqs0_gjbh300000gn/T/ipykernel_80049/570194682.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

,imdb_id,title,release_date,Runtime,Genre,overview,Director,Actors,Rated,imdbRating,imdbVotes,popularity,imdb_rating,rotten_tomatoes_rating,metacritic_rating,budget,revenue,financial_success
2,tt2011159,No Good Deed,2014-09-10,84 min,"Crime, Drama, Horror","Terri is a devoted wife and mother of two, liv...",Sam Miller,"Taraji P. Henson, Idris Elba, Leslie Bibb",PG-13,5.6,"22,194",37.883,5.6,12.0,26.0,13200000,53830415,True
6,tt3110958,Now You See Me 2,2016-06-02,129 min,"Action, Adventure, Comedy",One year after outwitting the FBI and winning ...,Jon M. Chu,"Jesse Eisenberg, Mark Ruffalo, Woody Harrelson",PG-13,6.4,"325,510",37.858,6.4,33.0,46.0,120000000,334900000,True
7,tt0493464,Wanted,2008-06-19,110 min,"Action, Crime, Thriller",Doormat Wesley Gibson is an office worker whos...,Timur Bekmambetov,"Angelina Jolie, James McAvoy, Morgan Freeman",R,6.7,"411,856",37.809,6.7,71.0,64.0,75000000,342463063,True
8,tt2024544,12 Years a Slave,2013-10-18,134 min,"Biography, Drama, History","In the pre-Civil War United States, Solomon No...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",R,8.1,"747,876",37.780,8.1,95.0,96.0,20000000,187000000,True
9,tt1615918,Alvin and the Chipmunks: Chipwrecked,2011-12-14,87 min,"Adventure, Comedy, Family","Playing around while aboard a cruise ship, the...",Mike Mitchell,"Justin Long, Matthew Gray Gubler, Jesse McCartney",G,4.4,"40,342",37.673,4.4,10.0,24.0,75000000,342695435,True

502

/var/folders/fv/ltttqpzd0bn28sqs0_gjbh300000gn/T/ipykernel_80049/570194682.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

,imdb_id,title,release_date,Runtime,Genre,overview,Director,Actors,Rated,imdbRating,imdbVotes,popularity,imdb_rating,rotten_tomatoes_rating,metacritic_rating,budget,revenue,financial_success
0,tt0209144,Memento,2000-10-11,113 min,"Mystery, Thriller",Leonard Shelby is tracking down the man who ra...,Christopher Nolan,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano",R,8.4,"1,337,799",29.914,8.4,94.0,83.0,9000000,40000000,True
1,tt10016180,The Little Things,2021-01-28,128 min,"Crime, Drama, Mystery","Deputy Sheriff Joe ""Deke"" Deacon joins forces ...",John Lee Hancock,"Denzel Washington, Rami Malek, Jared Leto",R,6.3,"129,573",29.905,6.3,45.0,54.0,30000000,29942746,False
2,tt0286106,Signs,2002-08-02,106 min,"Drama, Mystery, Sci-Fi",A family living on a farm finds mysterious cro...,M. Night Shyamalan,"Mel Gibson, Joaquin Phoenix, Rory Culkin",PG-13,6.8,"391,430",29.905,6.8,75.0,59.0,72000000,408200000,True
3,tt0497972,Sex and Death 101,2007-06-15,117 min,"Comedy, Drama, Fantasy","A guy's life is turned around by an email, whi...",Daniel Waters,"Robert Wisdom, Tanc Sade, Patton Oswalt",R,5.9,"11,624",29.904,5.9,25.0,24.0,5,1,False
4,tt0970411,City of Ember,2008-10-07,90 min,"Adventure, Drama, Family","For generations, the people of the City of Emb...",Gil Kenan,"Saoirse Ronan, Toby Jones, Bill Murray",PG,6.4,"70,313",29.899,6.4,53.0,58.0,55000000,17869048,False

In [110]:
#splitting some columns 
def splitting_columns(dataframe):
    dataframe[['star_1','star_2','star_3']] = dataframe['Actors'].str.split(',', n=2, expand=True)
    dataframe[['genre_1','genre_2','genre_3']] = dataframe['Genre'].str.split(',', n=2, expand=True)
    dataframe[['director_1','director_2']] = dataframe['Director'].str.split(',', n=1, expand=True)
    dataframe.drop(columns=['Actors', 'Genre', 'Director'], inplace=True)
    return(dataframe)

In [124]:
#Putting previous function into action
all_movies_df_0 = splitting_columns(all_movies_df_0)
all_movies_df_1 = splitting_columns(all_movies_df_1)
all_movies_df_2 = splitting_columns(all_movies_df_2)
all_movies_df_3 = splitting_columns(all_movies_df_3)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,...,BoxOffice,Production,Website,Response,financial_success,imdb_rating,rotten_tomatoes_rating,metacritic_rating,Error,totalSeasons
0,False,/jBUukLTCmXL79itbmK5JtQvImYS.jpg,"[16, 35, 10751]",846214,en,"The Good, the Bart, and the Loki",Loki is banished from Asgard once again and mu...,37.909,/rtMdtzywcAGOrF6t8fbxJBqpdcq.jpg,2021-07-07,...,N/A,N/A,N/A,True,False,6.1,NaN,NaN,NaN,NaN
1,False,/iWKqVHUqWILnvIGN6n6w5zWaJhs.jpg,"[10770, 10749]",1329918,en,Love on the Danube: Love Song,A daughter traveling with her widowed mother a...,37.901,/cDwclk7CiT1ALNz0oF8zdObCBBx.jpg,2024-09-10,...,N/A,N/A,N/A,True,False,NaN,NaN,NaN,NaN,NaN
2,False,/zt6wgtlV6hXDr9tvi3uDJLoHrja.jpg,"[80, 53]",136835,en,No Good Deed,"Terri is a devoted wife and mother of two, liv...",37.883,/wcDLqCS70LsPcovieuQrb311Qr1.jpg,2014-09-10,...,"$52,543,632",N/A,N/A,True,True,5.6,12.0,26.0,NaN,NaN
3,False,/hbvCZ12HiC6Dx4mbgeUr7aHBIPP.jpg,"[16, 10751, 12, 14]",13285,en,Barbie Fairytopia: Mermaidia,"In this animated follow-up to Fairytopia, Elin...",37.874,/igsqS7rpnkAT92Iqo5sYwTs1KWo.jpg,2006-03-14,...,N/A,N/A,N/A,True,False,6.2,NaN,NaN,NaN,NaN
4,False,/zMjI3HqcpOQVcIy9poJQ6vdd2Ds.jpg,"[35, 27, 10402]",974558,en,Destroy All Neighbors,"William Brown, a neurotic, self-absorbed music...",37.872,/jIpjUy6ACDk8Fc8GkynLcIAPP49.jpg,2024-04-26,...,N/A,N/A,N/A,True,False,5.3,72.0,NaN,NaN,NaN

In [17]:
# Rename the following columns to keep the same format
#Putting previous function into action
dataframes = [all_movies_df_0,all_movies_df_1,all_movies_df_2,all_movies_df_3]

for dataframe in dataframes:
    dataframe = dataframe.rename(columns={ "release_date": "release_year","Runtime": "runtime", "Genre": "genre","Director": "director", "Actors": "actors", "Rated": "rated", "imdbRating": "imdb_rating","imdbVotes": "imdb_votes"})
    dataframe.head()

,imdb_id,title,release_year,runtime,genre,overview,director,actors,rated,imdb_rating,...,revenue,financial_success,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,tt8936646,Extraction,2020-04-23,116 min,"Action, Crime, Thriller",A hardened gun-for-hire's latest mission becom...,Sam Hargrave,"Chris Hemsworth, Bryon Lerum, Ryder Lerum",R,6.8,...,0,False,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,None
1,tt2737304,Bird Box,2018-12-13,124 min,"Horror, Mystery, Sci-Fi",Five years after an ominous unseen presence dr...,Susanne Bier,"Sandra Bullock, Trevante Rhodes, John Malkovich",R,6.6,...,0,False,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,None
2,tt0328107,Man on Fire,2004-04-23,146 min,"Action, Crime, Drama",Jaded ex-CIA operative John Creasy reluctantly...,Tony Scott,"Denzel Washington, Christopher Walken, Dakota ...",R,7.7,...,130300000,True,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,None
3,tt3410834,Allegiant,2016-03-09,120 min,"Action, Adventure, Mystery",Beatrice Prior and Tobias Eaton venture into t...,Robert Schwentke,"Shailene Woodley, Theo James, Jeff Daniels",PG-13,5.7,...,179246868,True,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,None
5,tt0092644,Beverly Hills Cop II,1987-05-18,103 min,"Action, Comedy, Crime",Axel Foley returns to the land of sunshine and...,Tony Scott,"Eddie Murphy, Judge Reinhold, Jrgen Prochnow",R,6.6,...,299965036,True,Eddie Murphy,Judge Reinhold,Jrgen Prochnow,Action,Comedy,Crime,Tony Scott,None

In [18]:
# Format the release_date column to datetime forma
dataframes = [all_movies_df_0,all_movies_df_1,all_movies_df_2,all_movies_df_3]

for dataframe in dataframes:
    dataframe['release_year'] = pd.to_datetime(dataframe['release_year']).dt.year
    dataframe['imdb_rating'] = dataframe['imdb_rating'].astype('float')
    dataframe['rotten_tomatoes_rating'] = dataframe['rotten_tomatoes_rating'].astype('float')
    dataframe['metacritic_rating'] = dataframe['metacritic_rating'].astype('float')
    dataframe['financial_success'] = dataframe['financial_success'].astype('bool')

all_movies_df_2.head()

,imdb_id,title,release_year,runtime,genre,overview,director,actors,rated,imdb_rating,...,revenue,financial_success,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,tt8936646,Extraction,2020,116 min,"Action, Crime, Thriller",A hardened gun-for-hire's latest mission becom...,Sam Hargrave,"Chris Hemsworth, Bryon Lerum, Ryder Lerum",R,6.8,...,0,False,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,None
1,tt2737304,Bird Box,2018,124 min,"Horror, Mystery, Sci-Fi",Five years after an ominous unseen presence dr...,Susanne Bier,"Sandra Bullock, Trevante Rhodes, John Malkovich",R,6.6,...,0,False,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,None
2,tt0328107,Man on Fire,2004,146 min,"Action, Crime, Drama",Jaded ex-CIA operative John Creasy reluctantly...,Tony Scott,"Denzel Washington, Christopher Walken, Dakota ...",R,7.7,...,130300000,True,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,None
3,tt3410834,Allegiant,2016,120 min,"Action, Adventure, Mystery",Beatrice Prior and Tobias Eaton venture into t...,Robert Schwentke,"Shailene Woodley, Theo James, Jeff Daniels",PG-13,5.7,...,179246868,True,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,None
5,tt0092644,Beverly Hills Cop II,1987,103 min,"Action, Comedy, Crime",Axel Foley returns to the land of sunshine and...,Tony Scott,"Eddie Murphy, Judge Reinhold, Jrgen Prochnow",R,6.6,...,299965036,True,Eddie Murphy,Judge Reinhold,Jrgen Prochnow,Action,Comedy,Crime,Tony Scott,None

In [19]:
all_movies_df_2.dtypes

imdb_id                    object
title                      object
release_year                int32
runtime                    object
genre                      object
overview                   object
director                   object
actors                     object
rated                      object
imdb_rating               float64
imdb_votes                 object
popularity                float64
imdb_rating               float64
rotten_tomatoes_rating    float64
metacritic_rating         float64
budget                      int64
revenue                     int64
financial_success            bool
star_1                     object
star_2                     object
star_3                     object
genre_1                    object
genre_2                    object
genre_3                    object
director_1                 object
director_2                 object
dtype: object

In [6]:
print(all_movies_df_2['financial_success'].dtype)

NameError: name 'all_movies_df_2' is not defined

In [20]:
# outcome
# rules: financial_success == true && imdb_rating > 7 && rotten_tomatoes_rating > 60 && metacritic_rating > 50

# Create a mask for each condition
mask_financial_success = all_movies_df_2['financial_success'] == True
mask_imdb_rating = all_movies_df_2['imdb_rating'] > 7.0
mask_rotten_tomatoes_rating = all_movies_df_2['rotten_tomatoes_rating'] > 60
mask_metacritic_rating = all_movies_df_2['metacritic_rating'] > 50

In [21]:
all_movies_df_2.drop(columns=['financial_success', 'imdb_rating', 'rotten_tomatoes_rating','metacritic_rating'], inplace=True)
all_movies_df_2.head()

,imdb_id,title,release_year,runtime,genre,overview,director,actors,rated,imdb_votes,...,budget,revenue,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,tt8936646,Extraction,2020,116 min,"Action, Crime, Thriller",A hardened gun-for-hire's latest mission becom...,Sam Hargrave,"Chris Hemsworth, Bryon Lerum, Ryder Lerum",R,"267,724",...,65000000,0,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,None
1,tt2737304,Bird Box,2018,124 min,"Horror, Mystery, Sci-Fi",Five years after an ominous unseen presence dr...,Susanne Bier,"Sandra Bullock, Trevante Rhodes, John Malkovich",R,"392,201",...,19800000,0,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,None
2,tt0328107,Man on Fire,2004,146 min,"Action, Crime, Drama",Jaded ex-CIA operative John Creasy reluctantly...,Tony Scott,"Denzel Washington, Christopher Walken, Dakota ...",R,"394,563",...,70000000,130300000,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,None
3,tt3410834,Allegiant,2016,120 min,"Action, Adventure, Mystery",Beatrice Prior and Tobias Eaton venture into t...,Robert Schwentke,"Shailene Woodley, Theo James, Jeff Daniels",PG-13,"136,157",...,110000000,179246868,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,None
5,tt0092644,Beverly Hills Cop II,1987,103 min,"Action, Comedy, Crime",Axel Foley returns to the land of sunshine and...,Tony Scott,"Eddie Murphy, Judge Reinhold, Jrgen Prochnow",R,"139,487",...,28000000,299965036,Eddie Murphy,Judge Reinhold,Jrgen Prochnow,Action,Comedy,Crime,Tony Scott,None

In [22]:
# Combine the masks using the bitwise AND operator &
all_movies_df_2['outcome'] = mask_financial_success & mask_imdb_rating & mask_rotten_tomatoes_rating & mask_metacritic_rating
# all_movies_df_1['outcome'] = all_movies_df_1['outcome'].astype(int)
# all_movies_df_1['financial_success'] = all_movies_df_1['financial_success'].astype(int)

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
#display dataframe
all_movies_df_2.head()

,imdb_id,title,release_year,runtime,genre,overview,director,actors,rated,imdb_votes,...,budget,revenue,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,tt8936646,Extraction,2020,116 min,"Action, Crime, Thriller",A hardened gun-for-hire's latest mission becom...,Sam Hargrave,"Chris Hemsworth, Bryon Lerum, Ryder Lerum",R,"267,724",...,65000000,0,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,None
1,tt2737304,Bird Box,2018,124 min,"Horror, Mystery, Sci-Fi",Five years after an ominous unseen presence dr...,Susanne Bier,"Sandra Bullock, Trevante Rhodes, John Malkovich",R,"392,201",...,19800000,0,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,None
2,tt0328107,Man on Fire,2004,146 min,"Action, Crime, Drama",Jaded ex-CIA operative John Creasy reluctantly...,Tony Scott,"Denzel Washington, Christopher Walken, Dakota ...",R,"394,563",...,70000000,130300000,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,None
3,tt3410834,Allegiant,2016,120 min,"Action, Adventure, Mystery",Beatrice Prior and Tobias Eaton venture into t...,Robert Schwentke,"Shailene Woodley, Theo James, Jeff Daniels",PG-13,"136,157",...,110000000,179246868,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,None
5,tt0092644,Beverly Hills Cop II,1987,103 min,"Action, Comedy, Crime",Axel Foley returns to the land of sunshine and...,Tony Scott,"Eddie Murphy, Judge Reinhold, Jrgen Prochnow",R,"139,487",...,28000000,299965036,Eddie Murphy,Judge Reinhold,Jrgen Prochnow,Action,Comedy,Crime,Tony Scott,None

In [24]:
#Saving our DataFrame into 4 different csvs.
# all_movies_df_1.to_csv("movies_dataset_1.csv", index=False)
all_movies_df_2.to_csv("movies_dataset_2.csv", index=False)
# all_movies_df_3.to_csv("movies_dataset_3.csv")
# all_movies_df_4.to_csv("movies_dataset_4.csv")