## Retrieve data using Spark

In [48]:
#Dependencies
from pathlib import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [49]:
#Importing packeges to retrive data from  spark
from pyspark import SparkFiles
from pyspark.sql import SparkSession
from pathlib import Path
import time
import findspark
findspark.init()

In [50]:
# Initialize Spark session
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
#Define Path 
data0 = Path('Resources/movies_dataset_0.csv').resolve()
data1 = Path('Resources/movies_dataset_1.csv').resolve()
data2 = Path('Resources/movies_dataset_2.csv').resolve()
data3 = Path('Resources/movies_dataset_3.csv').resolve()

# Read the CSV file using the absolute path
df0 = spark.read.csv(
    str(data0), 
    sep=",", 
    header=True, 
    inferSchema=True, 
    quote='"',    # Handles quoted strings
    escape='"',   # Escape character for embedded quotes
    multiLine=True  # Handles multiline fields in case of long text
)

df1 = spark.read.csv(
    str(data1), 
    sep=",", 
    header=True, 
    inferSchema=True, 
    quote='"',    
    escape='"',   
    multiLine=True  
)
df2 = spark.read.csv(
    str(data2), 
    sep=",", 
    header=True, 
    inferSchema=True, 
    quote='"',    
    escape='"',   
    multiLine=True  
)
df3 = spark.read.csv(
    str(data3), 
    sep=",", 
    header=True, 
    inferSchema=True, 
    quote='"',    
    escape='"',   
    multiLine=True  
)
# #Merge the Dataframes using union
merged_df = df0.union(df1).union(df2).union(df3)
merged_df.show()

+----------+--------------------+-------+--------------------+---------+----------+----------+-----------+----------------------+-----------------+---------+----------+-----------------+-------------------+--------------------+--------------------+---------+----------+----------+------------------+--------------------+------------+-------+
|   imdb_id|               title|runtime|            overview|    rated|imdb_votes|popularity|imdb_rating|rotten_tomatoes_rating|metacritic_rating|   budget|   revenue|financial_success|             star_1|              star_2|              star_3|  genre_1|   genre_2|   genre_3|        director_1|          director_2|release_year|outcome|
+----------+--------------------+-------+--------------------+---------+----------+----------+-----------+----------------------+-----------------+---------+----------+-----------------+-------------------+--------------------+--------------------+---------+----------+----------+------------------+--------------------+------------+-------+
| tt0094721|         Beetlejuice| 92 min|A newly dead New ...|       PG|   348,874|   941.557|        7.5|                  86.0|             70.0| 15000000|  74849333|             true|       Alec Baldwin|         Geena Davis|      Michael Keaton|   Comedy|   Fantasy|      null|        Tim Burton|                null|        1988|   true|
|tt27682129|                Prey|100 min|A young couple is...|        R|   233,550|   436.919|        7.1|                  94.0|             71.0|        0|         0|            false|   Amber Midthunder|      Dakota Beavers|       Dane DiLiegro|   Action| Adventure|    Horror|  Dan Trachtenberg|                null|        2024|  false|
| tt0295701|                 xXx|124 min|Xander Cage is yo...|    PG-13|   187,525|   369.083|        5.8|                  48.0|             48.0| 70000000| 277448382|             true|         Vin Diesel|        Asia Argento|       Marton Csokas|   Action| Adventure|  Thriller|         Rob Cohen|                null|        2002|  false|
| tt4154756|Avengers: Infinit...|149 min|As the Avengers a...|    PG-13| 1,226,533|   270.163|        8.4|                  85.0|             68.0|300000000|2052415039|             true|  Robert Downey Jr.|     Chris Hemsworth|        Mark Ruffalo|   Action| Adventure|    Sci-Fi|     Anthony Russo|           Joe Russo|        2018|   true|
|tt23778968|              Thelma|116 min|When 93-year-old ...|Not Rated|    37,145|   263.208|        7.0|                  92.0|             74.0|  5000000|   9818454|             true|        Eili Harboe|        Kaya Wilkins|    Henrik Rafaelsen|    Drama|   Fantasy|    Horror|     Joachim Trier|                null|        2024|   true|
| tt0078748|               Alien|117 min|During its return...|        R|   964,356|   231.091|        8.5|                  93.0|             89.0| 11000000| 104931801|             true|   Sigourney Weaver|        Tom Skerritt|           John Hurt|   Horror|    Sci-Fi|      null|      Ridley Scott|                null|        1979|   true|
|tt27534307|       Speak No Evil| 97 min|When an American ...|Not Rated|    42,374|   226.591|        6.6|                  84.0|             78.0| 15000000|         0|            false|      Morten Burian|    Sidsel Siem Koch|      Fedja van Huêt|    Drama|    Horror|  Thriller| Christian Tafdrup|                null|        2024|  false|
| tt2096673|          Inside Out| 95 min|When 11-year-old ...|       PG|   818,922|    245.63|        8.1|                  98.0|             94.0|175000000| 857611174|             true|        Amy Poehler|          Bill Hader|         Lewis Black|Animation| Adventure|    Comedy|       Pete Docter|   Ronnie Del Carmen|        2015|   true|
| tt0816692|        Interstellar|169 min|The adventures of...|    PG-13| 2,153,343|   217.639|        8.7|                  73.0|             74.0|165000000| 701729206|             true|Matthew McConaughey|       Anne Hathaway|    Jessica Chastain|Adventure|     Drama|    Sci-Fi| Christopher Nolan|                null|        2014|   true|
| tt0389722|    30 Days of Night|113 min|This is the story...|        R|   190,890|   178.579|        6.6|                  51.0|             53.0| 30000000|  75505973|             true|      Josh Hartnett|      Melissa George|        Danny Huston|   Action|    Horror|  Thriller|       David Slade|                null|        2007|  false|
| tt0327597|            Coraline|100 min|Wandering her ram...|       PG|   269,771|   211.557|        7.8|                  91.0|             80.0| 60000000| 172750668|             true|     Dakota Fanning|        Teri Hatcher|        John Hodgman|Animation|     Drama|    Family|      Henry Selick|                null|        2009|   true|
| tt9362722|Spider-Man: Acros...|140 min|After reuniting w...|       PG|   394,549|     200.7|        8.6|                  95.0|             86.0|100000000| 690897910|             true|      Shameik Moore|    Hailee Steinfeld|   Brian Tyree Henry|Animation|    Action| Adventure|Joaquim Dos Santos| Kemp Powers, Jus...|        2023|   true|
| tt2316204|     Alien: Covenant|122 min|The crew of the c...|        R|   311,682|    192.51|        6.4|                  65.0|             65.0| 97000000| 240891763|             true| Michael Fassbender| Katherine Waterston|        Billy Crudup|   Horror|    Sci-Fi|  Thriller|      Ridley Scott|                null|        2017|   true|
|tt10872600|Spider-Man: No Wa...|148 min|Peter Parker is u...|    PG-13|   901,293|   187.927|        8.2|                  93.0|             71.0|200000000|1921847111|             true|        Tom Holland|             Zendaya| Benedict Cumberb...|   Action| Adventure|   Fantasy|         Jon Watts|                null|        2021|   true|
| tt5433140|              Fast X|141 min|Over many mission...|    PG-13|   124,108|   183.283|        5.7|                  56.0|             56.0|340000000| 704709660|             true|         Vin Diesel|  Michelle Rodriguez|       Jason Statham|   Action| Adventure|     Crime|   Louis Leterrier|                null|        2023|  false|
| tt0120737|The Lord of the R...|178 min|Young hobbit Frod...|    PG-13| 2,035,018|   174.668|        8.9|                  92.0|             92.0| 93000000| 871368364|             true|        Elijah Wood|        Ian McKellen|       Orlando Bloom|   Action| Adventure|     Drama|     Peter Jackson|                null|        2001|   true|
| tt2245084|          Big Hero 6|102 min|A special bond de...|       PG|   509,294|   169.395|        7.8|                  90.0|             74.0|165000000| 657827828|             true|        Ryan Potter|         Scott Adsit|         Jamie Chung|Animation|    Action| Adventure|          Don Hall|      Chris Williams|        2014|   true|
| tt5090568|Transformers: Ris...|127 min|When a new threat...|    PG-13|   109,383|   194.903|        6.0|                  52.0|             42.0|195000000| 439000000|             true|      Anthony Ramos|  Dominique Fishback|   Luna Lauren Velez|   Action| Adventure|    Sci-Fi|  Steven Caple Jr.|                null|        2023|  false|
| tt1431045|            Deadpool|108 min|The origin story ...|        R| 1,159,415|    168.11|        8.0|                  85.0|             65.0| 58000000| 782837347|             true|      Ryan Reynolds|     Morena Baccarin|         T.J. Miller|   Action|    Comedy|      null|        Tim Miller|                null|        2016|   true|
| tt0468569|     The Dark Knight|152 min|Batman raises the...|    PG-13| 2,907,659|   167.257|        9.0|                  94.0|             84.0|185000000|1004558444|             true|     Christian Bale|        Heath Ledger|       Aaron Eckhart|   Action|     Crime|     Drama| Christopher Nolan|                null|        2008|   true|
+----------+--------------------+-------+--------------------+---------+----------+----------+-----------+----------------------+-----------------+---------+----------+-----------------+-------------------+--------------------+--------------------+---------+----------+----------+------------------+--------------------+------------+-------+
only showing top 20 rows

## Clean, normalize, and standardize data before modeling

In [51]:
# Converting merged df from Spark into a Pandas DataFrame
movies_df = merged_df.toPandas()
movies_df.head()

,imdb_id,title,runtime,overview,rated,imdb_votes,popularity,imdb_rating,rotten_tomatoes_rating,metacritic_rating,...,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2,release_year,outcome
0,tt0094721,Beetlejuice,92 min,A newly dead New England couple seeks help fro...,PG,"348,874",941.557,7.5,86.0,70.0,...,Alec Baldwin,Geena Davis,Michael Keaton,Comedy,Fantasy,None,Tim Burton,None,1988,True
1,tt27682129,Prey,100 min,A young couple is compelled to leave their Chr...,R,"233,550",436.919,7.1,94.0,71.0,...,Amber Midthunder,Dakota Beavers,Dane DiLiegro,Action,Adventure,Horror,Dan Trachtenberg,None,2024,False
2,tt0295701,xXx,124 min,Xander Cage is your standard adrenaline junkie...,PG-13,"187,525",369.083,5.8,48.0,48.0,...,Vin Diesel,Asia Argento,Marton Csokas,Action,Adventure,Thriller,Rob Cohen,None,2002,False
3,tt4154756,Avengers: Infinity War,149 min,As the Avengers and their allies have continue...,PG-13,"1,226,533",270.163,8.4,85.0,68.0,...,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Action,Adventure,Sci-Fi,Anthony Russo,Joe Russo,2018,True
4,tt23778968,Thelma,116 min,When 93-year-old Thelma Post gets duped by a p...,Not Rated,"37,145",263.208,7.0,92.0,74.0,...,Eili Harboe,Kaya Wilkins,Henrik Rafaelsen,Drama,Fantasy,Horror,Joachim Trier,None,2024,True

In [52]:
#Checking columns
movies_df.columns

Index(['imdb_id', 'title', 'runtime', 'overview', 'rated', 'imdb_votes',
       'popularity', 'imdb_rating', 'rotten_tomatoes_rating',
       'metacritic_rating', 'budget', 'revenue', 'financial_success', 'star_1',
       'star_2', 'star_3', 'genre_1', 'genre_2', 'genre_3', 'director_1',
       'director_2', 'release_year', 'outcome'],
      dtype='object')

In [53]:
#Dropping unncesary columns for the model
movies_df.drop([
    'imdb_id','title', 'overview','imdb_votes','popularity',
    'imdb_rating', 'rotten_tomatoes_rating', 'metacritic_rating',
      'revenue','financial_success',
      
     ], axis=1, inplace=True)

In [54]:
#Checking data types
movies_df.dtypes

runtime         object
rated           object
budget           int32
star_1          object
star_2          object
star_3          object
genre_1         object
genre_2         object
genre_3         object
director_1      object
director_2      object
release_year     int32
outcome           bool
dtype: object

In [55]:
#Organizing columns names and coverting the 'outcome' column into a boolean 
movies_df = movies_df[['release_year','runtime', 'rated','budget', 'star_1', 'star_2', 'star_3', 'genre_1','genre_2','genre_3', 'director_1','director_2','outcome']]
movies_df['outcome'] = movies_df['outcome'].astype(int)
movies_df.head(3)

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2,outcome
0,1988,92 min,PG,15000000,Alec Baldwin,Geena Davis,Michael Keaton,Comedy,Fantasy,None,Tim Burton,None,1
1,2024,100 min,R,0,Amber Midthunder,Dakota Beavers,Dane DiLiegro,Action,Adventure,Horror,Dan Trachtenberg,None,0
2,2002,124 min,PG-13,70000000,Vin Diesel,Asia Argento,Marton Csokas,Action,Adventure,Thriller,Rob Cohen,None,0

In [56]:
#Extracting the string(min) from the 'runtime' column
def runtime_cleaner (string):
    minutes = string.split(" ")[0]
    return int(minutes)

movies_df['runtime'] = movies_df['runtime'].map(runtime_cleaner)
movies_df.head(3)

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2,outcome
0,1988,92,PG,15000000,Alec Baldwin,Geena Davis,Michael Keaton,Comedy,Fantasy,None,Tim Burton,None,1
1,2024,100,R,0,Amber Midthunder,Dakota Beavers,Dane DiLiegro,Action,Adventure,Horror,Dan Trachtenberg,None,0
2,2002,124,PG-13,70000000,Vin Diesel,Asia Argento,Marton Csokas,Action,Adventure,Thriller,Rob Cohen,None,0

In [57]:
# Identify categorical columns
movies_categorical = movies_df.select_dtypes(include=["object"]).columns.tolist()

In [58]:
#Checking my categorical columns
movies_categorical

['rated',
 'star_1',
 'star_2',
 'star_3',
 'genre_1',
 'genre_2',
 'genre_3',
 'director_1',
 'director_2']

In [59]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(movies_df[movies_categorical]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(movies_categorical)

# Display the first few rows of the encoded DataFrame
encode_df.head()

,rated_Approved,rated_G,rated_GP,rated_N/A,rated_NC-17,rated_Not Rated,rated_PG,rated_PG-13,rated_Passed,rated_R,...,director_2_ Tyler Gillett,director_2_ Vicky Jenson,"director_2_ Vicky Jenson, Rob Letterman",director_2_ Walt Dohrn,"director_2_ Warren Coleman, Judy Morris","director_2_ Wilfred Jackson, Hamilton Luske",director_2_ Will Merrick,director_2_ Will Speck,"director_2_ Wolfgang Reitherman, Art Stevens",director_2_None
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [60]:
# Merge one-hot encoded features and drop the originals
movies_df = movies_df.merge(encode_df,left_index=True, right_index=True)
movies_df = movies_df.drop(movies_categorical, axis=1)
movies_df.head()

,release_year,runtime,budget,outcome,rated_Approved,rated_G,rated_GP,rated_N/A,rated_NC-17,rated_Not Rated,...,director_2_ Tyler Gillett,director_2_ Vicky Jenson,"director_2_ Vicky Jenson, Rob Letterman",director_2_ Walt Dohrn,"director_2_ Warren Coleman, Judy Morris","director_2_ Wilfred Jackson, Hamilton Luske",director_2_ Will Merrick,director_2_ Will Speck,"director_2_ Wolfgang Reitherman, Art Stevens",director_2_None
0,1988,92,15000000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2024,100,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2002,124,70000000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2018,149,300000000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024,116,5000000,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [65]:
column_list = movies_df.columns.tolist()
column_list[0:5]

['release_year', 'runtime', 'budget', 'outcome', 'rated_Approved']

In [66]:
# Split our preprocessed data into our features and target arrays
y = movies_df["outcome"].values
X = movies_df.drop(["outcome"], axis=1).values

## Train and Split Data

In [67]:
#Split the processed data from the movies_df
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
numerical_cols

Index(['runtime', 'outcome', 'rated_Approved', 'rated_G', 'rated_GP',
       'rated_N/A', 'rated_NC-17', 'rated_Not Rated', 'rated_PG',
       'rated_PG-13',
       ...
       'director_2_ Tyler Gillett', 'director_2_ Vicky Jenson',
       'director_2_ Vicky Jenson, Rob Letterman', 'director_2_ Walt Dohrn',
       'director_2_ Warren Coleman, Judy Morris',
       'director_2_ Wilfred Jackson, Hamilton Luske',
       'director_2_ Will Merrick', 'director_2_ Will Speck',
       'director_2_ Wolfgang Reitherman, Art Stevens', 'director_2_None'],
      dtype='object', length=4839)

In [19]:
# Split our preprocessed data into our features and target arrays
y = movies_df["outcome"].values
X = movies_df.drop(["outcome"], axis=1).values

## ------------

In [5]:
df.head()

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,2020,116 min,R,65000000,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,NaN
1,2018,124 min,R,19800000,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,NaN
2,2004,146 min,R,70000000,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,NaN
3,2016,120 min,PG-13,110000000,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,NaN
4,1987,103 min,R,28000000,Eddie Murphy,Judge Reinhold,Jürgen Prochnow,Action,Comedy,Crime,Tony Scott,NaN

In [7]:
df['rated'].unique()

array(['R', 'PG-13', 'TV-14', 'G', 'PG', 'Not Rated', 'Approved', 'TV-MA',
       'NC-17', 'Unrated', nan], dtype=object)

In [8]:
rated_list = df['rated'].unique().tolist()

for i, rating in enumerate(rated_list):
    df['rated'].replace(rating, int(i), inplace=True)

In [9]:
for i, rating in enumerate(rated_list):
    df['rated'].replace(rating, int(i), inplace=True)

df.head()

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,2020,116,0.0,65000000,Chris Hemsworth,Bryon Lerum,Ryder Lerum,Action,Crime,Thriller,Sam Hargrave,NaN
1,2018,124,0.0,19800000,Sandra Bullock,Trevante Rhodes,John Malkovich,Horror,Mystery,Sci-Fi,Susanne Bier,NaN
2,2004,146,0.0,70000000,Denzel Washington,Christopher Walken,Dakota Fanning,Action,Crime,Drama,Tony Scott,NaN
3,2016,120,1.0,110000000,Shailene Woodley,Theo James,Jeff Daniels,Action,Adventure,Mystery,Robert Schwentke,NaN
4,1987,103,0.0,28000000,Eddie Murphy,Judge Reinhold,Jürgen Prochnow,Action,Comedy,Crime,Tony Scott,NaN

In [10]:
stars_list = [*df["star_1"].tolist(),*df["star_2"].tolist(),*df["star_3"].tolist()]

unique_stars_list = []

for star in stars_list:
    if star not in unique_stars_list:
        unique_stars_list.append(star)
    
print(len(unique_stars_list))

for i, star in enumerate(unique_stars_list):
    df['star_1'].replace(star, int(i), inplace=True)
    df['star_2'].replace(star, int(i), inplace=True)
    df['star_3'].replace(star, int(i), inplace=True)

df.head()

1623

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,2020,116,0.0,65000000,0,474,1091,Action,Crime,Thriller,Sam Hargrave,NaN
1,2018,124,0.0,19800000,1,475,982,Horror,Mystery,Sci-Fi,Susanne Bier,NaN
2,2004,146,0.0,70000000,2,476,1092,Action,Crime,Drama,Tony Scott,NaN
3,2016,120,1.0,110000000,3,477,531,Action,Adventure,Mystery,Robert Schwentke,NaN
4,1987,103,0.0,28000000,4,478,1093,Action,Comedy,Crime,Tony Scott,NaN

In [11]:
genre_list = [*df["genre_1"].tolist(),*df["genre_2"].tolist(),*df["genre_3"]]

unique_genre_list = []

for genre in genre_list:
    if genre not in unique_genre_list:
        unique_genre_list.append(genre)
    
print(len(unique_genre_list))

for i, genre in enumerate(unique_genre_list):
    df['genre_1'].replace(genre, int(i), inplace=True)
    df['genre_2'].replace(genre, int(i), inplace=True)
    df['genre_3'].replace(genre, int(i), inplace=True)

df.head()

32

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,2020,116,0.0,65000000,0,474,1091,0,12,24,Sam Hargrave,NaN
1,2018,124,0.0,19800000,1,475,982,1,13,20,Susanne Bier,NaN
2,2004,146,0.0,70000000,2,476,1092,0,12,18,Tony Scott,NaN
3,2016,120,1.0,110000000,3,477,531,0,14,13,Robert Schwentke,NaN
4,1987,103,0.0,28000000,4,478,1093,0,15,12,Tony Scott,NaN

In [12]:
director_list = [*df["director_1"].tolist(),*df["director_2"].tolist()]

unique_director_list = []

for director in director_list:
    if director not in unique_director_list:
        unique_director_list.append(director)
    
print(len(unique_director_list))

for i, director in enumerate(unique_director_list):
    df['director_1'].replace(director, int(i), inplace=True)
    df['director_2'].replace(director, int(i), inplace=True)

df.head()

594

,release_year,runtime,rated,budget,star_1,star_2,star_3,genre_1,genre_2,genre_3,director_1,director_2
0,2020,116,0.0,65000000,0,474,1091,0,12,24,0,527
1,2018,124,0.0,19800000,1,475,982,1,13,20,1,527
2,2004,146,0.0,70000000,2,476,1092,0,12,18,2,527
3,2016,120,1.0,110000000,3,477,531,0,14,13,3,527
4,1987,103,0.0,28000000,4,478,1093,0,15,12,2,527

## Separate the Features(X) from the Target (y)

 ## Split our data into training and testing

 ## Create a Logistic Regression Model

 ## Fit (train) or model using the training data

 ## Score the model using the test data

 ## Make predictions

## Calculate the Accuracy Score